<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debugging Example</title>
</head>

<body>
    <h1>To-Do List</h1>
    <form id="taskForm">
        <label for="task">Task: </label>
        <input type="text" id="taskInput" placeholder="Enter new Task" required/>
        <button id="addNewTaskButton">Add Task</button>
        <button id="removeTaskButton">Remove Task</button>
        <button id="updateTaskButton">Remove Task</button>
        <button id="showTaskDetails">Remove Task</button>
        <ul id="taskList"></ul>
    </form>
    <script src="../Scripts/app.js"></script>
</body>

</html>